modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["nano"]

[deployment]
run = ["sh", "-c", "npm run build && npm start"]

[workflows]
runButton = "Build and Start"

[[workflows.workflow]]
name = "Development"
author = 43702182
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build and Start"
author = 43702182
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80
